//global
$global-theme-color: #16982B;
$module-hover-bg: #1B813E;
$link-color: #e6e6e6;
$link-hover-color: #00cccc;
$global-serif-font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif;
$global-medium-gray: #cacaca !default;
$global-dark-gray: #8a8a8a !default;
//header
$header-height: 38px !default;
$header-padding: 20px 12px !default;
//nav
$navbar-height: 4.5em;
$navbar-link-padding: 15px 10px !default;
$navbar-font-size: 18px !default;
$navbar-active-border: 2px solid #00cccc !default;

//archive
$archive-item-border: 1px solid $global-medium-gray !default;

$archive-item-hover-border: 3px solid $global-theme-color !default;