//global
$module-hover-bg: #1B813E;
$link-color: #e6e6e6;
//header
$header-height: 60px !default;
$header-padding: 20px 80px !default;
//nav
$navbar-height: 4.5em;
$navbar-link-padding: 20px 10px !default;
$navbar-font-size: 18px !default;
$navbar-active-border: 2px solid #16982B !default;