.archive {
  max-width: 500px;
  margin: 5em auto;
  & .post-item {
    padding: 2px 0 0 50px;
    & .post-info {
      float: left;
      width: 125px;
      color: #7f8c8d;
    }
    & .post-title-link a {
      display: block;
      margin-left: 125px;
      word-break: break-all;
      font-size: 1rem;
      &:hover, :active {
        border-bottom: 0;
      }
    }
  }
  @media screen and (max-width: 700px) {
    & .post-item {
      padding-left: 20px;
    }
  }
}