article {
  @import "markdown";
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
  &.post {
    & h1 {
      font-size: 32px;
      &.title {
        font-weight: 400;
        & a {
          color: #333;
          &:hover{
            text-decoration: none;
            color: #00a7d0;
          }
        }
      }
    }
    & .meta {
      text-align: left;
      margin: 3px 0 30px;
      color: #999;
      font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
      font-size: 14px;
    }
    & .entry-content{
      color: #444;
      font-size: 16px;
      font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
      -webkit-font-smoothing: antialiased;
      line-height: 1.8em;
      word-wrap: break-word;
      & .toc-container{
        display: none;
      }
      & p {
        margin-top: 15px;
      }
    }
    & a{
      color: #c3325f;
      &.read-more{
        float: right;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  article {
    &.post{
      & .meta{
        margin-bottom: 10px;
        position: static;
        width: auto;
        overflow: hidden;
      }
    }
  }
}